body{
    font-size: 1em;
}

.todo {
    width: 100%;
    float: right ;
    margin-top: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    list-style: none;
    padding: 10px 20px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid #025f70;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
    background: #4EB9CD;
    transition: all 0.75s 
  };
  
  .buttons {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .buttn{
    background-color: white;
    border: 2px solid #555555;
    border-radius: 5px;
    color: black;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .buttn:hover {
    background-color: #555555;
  color: white;
  }

  .warpper{
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 5px #888888; 
    border: 1px solid #888888;
    border-radius: 25px;
    padding: 20px;
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .inside{
      text-align: center;
  }

  input[type=text] {
      outline: 0;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
    border: 3px solid #555;
    
  }
  input[type=text]:focus {
    border: none;
    border-bottom: 2px solid #555;
  }


  /* ---- reset ---- */

body {
    margin: 0;
    font:normal 75% Arial, Helvetica, sans-serif;
  }

  .topic{
      text-align: center;
      font-size:1.5em;
  }
  
  
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000022;
  }



  